<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="{{#if isHome}}home{{/if}}">
  {{#if ageVerified}}
  <header>
    {{!-- NAV BAR --}}
    <nav class="nav-wrapper #4e342e brown darken-3">
      <div class="container">
        <img src="../../public/images/mixmate-logo.png">
        <a href="/" class="brand-logo">MixMate</a>
        <ul class="right hide-on-med-and-down">
          {{#unless isHome}}
          <li> <a href="/">Home</a></li>
          {{/unless}}
          {{#if isLoggedIn}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/logout">Log Out</a></li>
          {{else}}
          <li><a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a></li>
          <li><a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a></li>
          {{/if}}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    {{!-- DROPDOWN --}}
    <ul class="sidenav" id="nav-mobile">
      {{#unless isHome}}
      <li> <a href="/">Home</a></li>
      {{/unless}}
      {{#if isLoggedIn}}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Log Out</a></li>
      {{else}}
      <li><a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a></li>
      <li><a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a></li>
      {{/if}}
    </ul>
  </header>
  <main>
    {{{body}}}
  </main>


  {{else}}
  {{!-- Verify Age Conditional --}}
  <div class="row age21">
    <div class="col s12 m6 offset-m3">
      <div class="card age-verification-card">
        <div class="card-content teal lighten-2 white-text center-align">
          <h2 class="flow-text">Are you 21 years of age or older?</h2>
          <p>I verify that I am over the legal drinking age.</p>
          <div class="verification-buttons">
            <a href="/verify" class="waves-effect waves-light btn green">Yes</a>
            <a href="/sorry" class="waves-effect waves-light btn red">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    const isLoggedIn = '{{isLoggedIn}}';
  </script>
  <script>
    // Initialize Materialize components
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>
  <script src="/js/script.js"></script>
  <script src="/js/testAPI.js"></script>
</body>

</html>