<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail Website</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{#if ageVerified}}
  <header>
    {{!-- NAV BAR --}}
   <nav class="nav-wrapper #4E342E brown darken-3">
    <div class="container">
      <a href="/" class="brand-logo">
        <img src="/images/mixmate-logo.png" alt="Logo" class="logo-icon">
        MixMate
      </a>
      <ul class="right hide-on-med-and-down">
        {{#if isLoggedIn}}
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/dashboard">My Cocktails</a></li>
        <li><a href="/logout">Log Out</a></li>
        {{else}}
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a></li>
        <li><a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a></li>
        {{/if}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    {{!-- DROPDOWN --}}
    <ul class="sidenav" id="nav-mobile">
      {{#if isLoggedIn}}
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/dashboard">My Cocktails</a></li>
      <li><a href="/logout">Log Out</a></li>
      {{else}}
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a></li>
      <li><a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a></li>
      {{/if}}
    </ul>
  </header>
  <main class="home">
    {{{body}}}
  </main>

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container-one">
      <div class="row">
        <div class="col 16 s12">
        </div>
    </div>
    <div class="footer-content">
      <div class="container">
      © 2023 MixMate
      </div>
    </div>
  </footer>

  {{else}}
  {{!-- Verify Age Conditional --}}
  <h1 class="verify-title">Enter MixMate</h1>
  <a class="verify-info-link" target="_blank" href="https://www.mystatecollegelawyer.com/q-a/furnishing-alcohol-to-a-minor-q-a/if-the-underage-person-lied-to-me-told-me-he-over-21-and-provided-me-with-a-false-identification-card-how-can-i-be-charged-with-furnishing-alcohol-to-minors/#:~:text=For%20the%20Liquor%20Code%20charge,as%20a%20strict%20liability%20offense.">Did you know lying about your age is a liability offense?</a>
  <div class="row age21">
    <div class="col s12 m6 offset-m3">
      <div class="card age-verification-card">
        <div class="card-content teal lighten-2 white-text center-align">
          <h2 class="flow-text">Are you 21 years of age or older?</h2>
          <p>I verify that I am over the legal drinking age.</p>
          <div class="verification-buttons">
            <a href="/verify" class="waves-effect waves-light btn green">Yes</a>
            <a href="/sorry" class="waves-effect waves-light btn red">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    const isLoggedIn = '{{isLoggedIn}}';
  </script>
  <script>
    // Initialize Materialize components
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>
  <script src="/js/script.js"></script>
  <script src="/js/testAPI.js"></script>
</body>

</html>