<div id="hero-image" class="center-align">
    <div class="hero-content">
        <h1>Need a drink?</h1>
        <p>We've got you covered. We'll help you find an awesome cocktail recipe so that you can be your own mixologist
            right at home.</p>
        <div class="contain">
            <form id="form" action="/drink" method="POST">
                <input type="text" id="name-search" placeholder="Enter a cocktail name" style="color: white;">
                <div id="name-suggestions"></div>
            </form>
        </div>
    </div>

</div>

<div class="gallery-container">
    {{#each favorites}}
    <div class="gallery-card-wrapper">
        <div class="gallery-card">
            <div class="gallery-card-image">
                <img src={{this.image_url}} class="favorite-image" alt="Picture of a user's cocktail">
            </div>
            <span class="card-title">{{this.cocktailName}}</span>
            <div class="card-content">
                <p>Added by: {{user.userName}}</p>
            </div>
        </div>
    </div>
    {{/each}}
  </div>




{{!-- <ul>
<ul class="homepage-list">
    {{#each favorites}}
    <li>
        <p>{{this.cocktailName}}</p>
        <p>Added By: {{user.userName}}</p>
        <img src={{this.image_url}} class="favorite-image" alt="Picture of users cocktail">
    </li>
    {{/each}}
</ul> --}}